[Unit]
Description={{ simple_container_description | default(simple_container_name ~ ' container') }}
After=network-online.target
Wants=network-online.target

[Container]
Image={{ simple_container_image }}
ContainerName={{ simple_container_name }}
AutoUpdate=registry
Network={{ simple_container_network }}
{% for key, value in simple_container_env.items() %}
Environment={{ key }}={{ value }}
{% endfor %}
{% for vol in simple_container_volumes %}
Volume={{ vol }}
{% endfor %}
{% for pub in simple_container_publish_ports %}
PublishPort={{ pub }}
{% endfor %}
{% for line in simple_container_extra_options %}
{{ line }}
{% endfor %}

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
