[Unit]
Description=binarycodes - dev blog
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/binarycodes/mkdocs-dev-blog:latest
ContainerName=binarycodes-dev-blog
AutoUpdate=registry
Volume=/var/app/binarycodes-dev-blog/config:/blog:ro,Z
HealthCmd=wget -q --spider http://127.0.0.1:8000/ || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s
Notify=healthy
Network=web.network

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
